$cream: #F1ECE2;
$black: #212427;
$medium-green: #6b796a;
$dark-green: #10302a;
$rose: #CAA988;
$aqua: #d1e0d6;
$white: #fff;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}